body {
  font-family: sans-serif;
  background: #f0f0f0;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
}

.materia {
  background: #fff;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.materia.aprobada {
  background-color: #e0ffe0;
  border-color: green;
}
